.about-wrapper {
    padding: 50px 0;
    background-color: white;
  }
  
  .about-container {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  /* Initial state for fade-in animation */
  .about-container h1 {
    font-size: 3rem;
    text-align: center;
    opacity: 0; /* Start hidden */
    /* animation: fadeIn 2s forwards; */
  }
  
  /* Initial state for fade-up animation */
  .about-text-container {
    width: 70vw;
    margin: 50px auto;
    font-size: 2rem;
    line-height: 1.6;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below the final position */
    /* animation: fadeUp 2s 1s forwards; */
  }
  
  .about-text p {
    margin: 0;
  }
  
  .animate-fadeIn {
    animation: fadeIn 2s forwards;
  }
  
  .animate-fadeUp {
    animation: fadeUp 2s forwards;
  }
  
  /* Keyframes for animations */
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with 0 opacity */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
    }
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0; /* Start with 0 opacity */
      transform: translateY(20px); /* Start slightly below */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
      transform: translateY(0); /* Move to final position */
    }
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .about-container h1 {
      font-size: 3rem;
    }
  
    .about-text-container {
      width: 90vw;
      font-size: 1.5rem;
      margin-top: 30px;
    }
  }
  